.container {
    background: black;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
        color: tomato;
    }


    .nav {
        display: flex;
        justify-content: space-between;
        width: 70%;

        >* {
            display: flex;
        }
    }
}