@import "../index";

.container {
    background: $DarkerPrimaryColor;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 3px 0 10px 0;

    * {
        color: #dad5d2;
    }

    >:first-child {
        margin-left: 20px;
        height: 60px;
    }

    >:last-child {
        height: 100%;
        display: flex;
        align-items: center;

        >:first-child {
            padding-right: 5px;
            border-right: 3px solid #dad5d2;
            padding-block: 5px;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;

        >* {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            padding: 10px;
            border-radius: 10px;
            transition: all 0.3s;

            >:first-child {
                margin-right: 10px;
                width: 30px;
                fill: #dad5d2;
            }

        }

        .active {
            background: #dad5d2;

            >:first-child * {
                fill: $DarkerPrimaryColor;
            }

            >:last-child {
                color: $DarkerPrimaryColor;
            }
        }
    }
}

.user_photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    border: 3px black solid;
    margin-inline: 10px;
}

.dropdown_container {
    border-radius: 16px;
    padding: 12px;
    z-index: 1;
    background: $DarkPrimaryColor;
    box-shadow: 0px 0px 25px black;

    .dropdown_item {
        @include flex_container(row, flex-start, center);
        width: max-content;
        border-radius: 8px;
        padding: 16px;
        cursor: pointer;

        >:first-child {
            width: 40px;
            fill: $LightColor;
        }

        >:last-child {
            font-size: 20px;
            font-family: $PrimaryFontFamily;
            margin-inline: 32px;
        }
    }

    .dropdown_item:hover {
        background: $DarkerPrimaryColor;

    }
}