@import "../index";

.container_table {
    background: #ddcebe;
    padding: 20px;
    border: 7px dashed rgb(109, 98, 94);
    border-radius: 30px;
    width: 90%;
    max-width: 1080px;
    min-width: 720px;

    table {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-collapse: collapse;
        table-layout: fixed;
        text-align: center;

        thead {
            width: 100%;

            tr {
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: space-evenly;
                background: #F3EEE8;
            }

            th {
                @include flex_container();
                font-weight: 600;
                font-size: 18px;
                padding: 5px 10px;
                cursor: pointer;
            }
        }

        tbody {
            width: 100%;

            tr {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                border-bottom: 2px solid #F3EEE8;
            }


            tr:last-child {
                border-bottom: 5px solid #F3EEE8;
            }

            td {
                padding: 15px 10px;
                width: 16%;
            }
        }
    }
}

.button_update {
    background: #2f5f98;
    color: #F3EEE8;

}

.button_delete {
    background: #ff5757;
    color: #F3EEE8;
}

.button_update,
.button_delete {
    border-radius: 5px;
    padding: 5px 20px;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;

    &:active {
        box-shadow: 0 0 10px black;
    }
}

.tool_table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    >:first-child {
        display: flex;
        align-items: center;
        width: 70%;
        height: 40px;

        >:first-child {
            width: 100%;
            height: 100%;
            padding: 10px;
            border-radius: 10px;
        }

        >:last-child {
            width: 30px;
            height: 30px;
            position: relative;
            right: 50px;
            fill: rgb(109, 98, 94);
        }
    }

    >:last-child {
        display: flex;
        align-items: center;
        width: 200px;
        height: 45px;
        background: #C08878;
        border-radius: 10px;

        >:last-child {
            color: white;
            background: none;
            margin-left: 10px;
            font-size: 15px;
        }

        >:first-child {
            width: 30px;
            height: 30px;
            margin-left: 30px;
            fill: #ffffff;
        }
    }
}

.paginate_table {
    @include flex_container(row, flex-end);
    height: 10px;
    margin-top: 15px;


    >* {
        margin-inline: 10px;
        fill: $DarkPimaryColor;
        height: 20px;
    }

    .disable {
        fill: $BorderColorLight;
    }

}

.arrow_keys {
    margin-left: 10px;
    height: 20px;
    fill: $BorderColorLight;
}