@import '../index';

.login {
    @include flex_container();

    width: 100vw;
    height: 100vh;

    .container {
        width: 80%;
        max-width: 820px;
        min-width: 520px;
        height: 480px;
        display: flex;

        >* {
            width: 50%;
            margin: 5px;
            border-radius: 5px;
        }
    }

    .input_container {
        background: $PrimaryColor;
        padding: 20px;
        border: 4px dashed $BorderColorLight;

        .form {
            width: 100%;
            margin-top: 20px;

            >div {
                display: flex;
                flex-direction: column;
            }

            input {
                border: 3.5px dashed $BorderDarkColor;
                border-radius: 10px;
                padding: 10px;
                width: 90%;
                margin-bottom: 10px;

                &:focus {
                    outline: none;
                    border: 3.5px dashed $DarkPimaryColor;
                }
            }

            >button {
                border-radius: 5px;
                color: white;
                width: 90%;
                padding-block: 5px;
                margin-block: 10px;
                transition: 1s;
                text-align: center;
                background: $DarkPimaryColor;
                font-family: $TitleFontFamily;
                font-size: $PrimaryFontSize;

                &:hover {
                    box-shadow: 0 0 5px 2px black;
                }

                &:active {
                    border: none;
                }
            }
        }
    }

    .link_signin {
        @include flex_container(row, space-between, center);
        padding: 20px 12px;
        width: 90%;

        a {
            color: $DarkPimaryColor;

        }

        p {
            color: tomato;
            font-weight: 700;
        }
    }

    .image_container {
        background-image: url("../../assets/chocolate.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}