@import "../index";

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .container {
        background: $PrimaryColor;
        padding: 10px 20px;
        border: 4px dashed rgb(159, 145, 139);
        width: clamp(520px, 80%, 920px);
        border-radius: 5px;


        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 20px;

            >div {
                width: clamp(150px, 40%, 350px);
                margin: auto;
                padding-bottom: 30px;
                position: relative;
            }

            input {
                border: 3px solid $DarkPimaryColor;
                border-radius: 10px;
                padding: 10px;
                width: 100%;
            }

            >:last-child {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: auto;
                margin-bottom: 10px;

                button {
                    border-radius: 10px;
                    color: white;
                    height: 35px;
                    margin-bottom: 20px;
                    width: 100%;
                    font-family: $TitleFontFamily;
                    font-size: $PrimaryFontSize;
                    background: $DarkPimaryColor;
                }
            }

        }

    }
}

.link_signin {
    @include flex_container(row, space-between, center);
    padding: 0 12px;
    width: 90%;

    a {
        color: $DarkPimaryColor;

    }

    p {
        color: $DarkPimaryColor;
        font-weight: 800;
    }
}

.privacy_policy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    input {
        border-radius: 10px;
        color: white;
        height: 18px;
        width: 18px;
        margin: 10px;
        font-family: $TitleFontFamily;
        font-size: $PrimaryFontSize;
        background: $DarkPimaryColor;
    }
}

.error {
    color: $ErrorColor;
    position: absolute;
    left: 0px;
    bottom: 0px;

    input {
        outline: none;
        border: 3px solid $ErrorColor !important;
        color: $DeleteColor;
    }
}


//                        <input type="checkbox" name="check" id="check" className={styles.checkmark} />