@import 'https://fonts.googleapis.com/css?family=Trocchi';
@import 'https://fonts.cdnfonts.com/css/glacial-indifference-2';
@import 'https://fonts.cdnfonts.com/css/futura-pt';
@import 'https://fonts.cdnfonts.com/css/open-sans';
@import "./index";

:root {
    font-family: 'Futura PT', sans-serif;
    line-height: 1.5;
    color-scheme: light;
    color: black;
    background: whitesmoke;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    transform: all 1s;
    transition: all 1s;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

h1 {
    font-family: $TitleFontFamily;
    font-size: 30px;
}

h2 {
    font-family: $TitleFontFamily;
    font-size: 20px;
    text-decoration: none;
}

label {
    font-family: $PrimaryFontFamily ;
    font-size: $MinorFontSize;
}

p {
    font-weight: 400;
    font-family: $PrimaryFontFamily;
    font-size: $PrimaryFontSize;
}


a {
    font-family: $PrimaryFontFamily;
    font-weight: 700;
    color: #646cff;
}

a:hover {
    color: #535bf2;
}

tspan {
    font-family: "Trocchi";
}


// button:hover {
//   border-color: #646cff;
// }

// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }

//   a:hover {
//     color: #747bff;
//   }

//   button {
//     background-color: #f9f9f9;
//   }
// }