@import "../../index";

.main {
    width: 100%;
    height: 100%;
    position: relative;
    fill: $DarkColor;

    >:last-child {
        height: 40%;
        position: absolute;
        right: 50px;
        bottom: 12px;
    }
}